@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/fonts/static/HankenGrotesk-Regular.woff2') format('woff2'),
        url('assets/fonts/static/HankenGrotesk-Regular.woff') format('woff'),
        url('assets/fonts/static/HankenGrotesk-Medium.woff2') format('woff2'),
        url('assets/fonts/static/HankenGrotesk-Medium.woff') format('woff'),
        url('assets/fonts/static/HankenGrotesk-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/static/HankenGrotesk-ExtraBold.woff') format('woff'),
        url('assets/fonts/static/HankenGrotesk-Bold.woff2') format('woff2'),
        url('assets/fonts/static/HankenGrotesk-Bold.woff') format('woff');
}

:root {
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --dark-grey-blue: hsl(224, 30%, 27%);
}

.red-text-background {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
}

.yellow-text-background {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
}

.green-text-background {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
}

.blue-text-background {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

body p {
    font-size: 18px;
}

.result-container {
    text-align: center;
    padding: 0 40px 40px 40px;
    border-radius: 0 0 30px 30px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
}

.result-heading {
    margin: 0;
    padding: 24px;
    opacity: 0.8;
}


.circle .average-score {
    margin: 0;
    font-size: 50px;
    font-weight: 1000;
    opacity: 1;
}

.circle p {
    margin: 0;
    font-size: 16px;
    opacity: 0.5;

}


.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}


.feedback h1 {
    margin-bottom: 8px;
}

.feedback p {
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 0;
}

.summary-container {
    margin: 0 24px;
}

.summary-container h3 {
    color: var(--dark-grey-blue);
}

.field {
    display: flex;
    border-radius: 10px;
    padding: 16px 16px;
    margin-bottom: 16px;
}

.field .icon {
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.field .ability {
    margin-right: auto;

}

.field .score {
    color: var(--dark-grey-blue);
}

.field .total-score {
    color: hsla(224, 30%, 27%, 0.5);
}

.field p {
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
}

.button {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    background-color: var(--dark-grey-blue);
    border-radius: 40px 40px 40px 40px;
    border: none;
    margin-top: 8px;
}

@media (min-width: 375px) {
    /* Desktop */
    html,
    body {
        margin: 0;
        height: 100%;
    }

    body p {
        font-size: unset;
    }

    .results-summary-card {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
        box-shadow: 20px 20px 30px 1px hsla(241, 100%, 89%, 0.491);
    }

    .result-container {
        width: 225px;
        border-radius: 30px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .result-heading {
        margin: 0;
        padding: unset;
        padding-bottom: 24px;
        opacity: 0.8;
    }

    .circle {
        width: 130px;
        height: 130px;
    }

    .summary-container {
        margin: 0;
        width: 300px;
        padding: 40px;
    }

    .summary-container h3 {
        margin-top: 0;
    }

    .button:hover {
        cursor: pointer;
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        transition: 2s ease;
    }

    .field:hover {
        cursor: pointer;
        background: hsla(241, 100%, 89%, 0.491);
    }
}